<ion-view>
	<ion-nav-bar class="header-detail">
		<ion-nav-buttons side="left">
			<button ng-click="$ionicGoBack()" class="back-button-light bar-button ion-android-arrow-back">
			</button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button ng-click="showPopupshare()" class="button-icon bar-button icon-share">
			</button>
			<button class="button-icon bar-button icon-bookmarks">
			</button>

		</ion-nav-buttons>
	</ion-nav-bar>	
	<ion-content class="info-photo">
		<img src="img/detail-photo.png" class="img">
	</ion-content>
	<div class="bar bar-footer title-photo">
		<b>Making it Big: Book Launch  (1/30)</b><br/>
		<p class="text-photo">Tara Sharma during the book launch of 'Making it Big' by Binod Chaudhary on May 10, 2016 in Mumbai. (Pic: Viral Bhayani)</p>
		<span class="footer-type">BCCL - Non Copyright</span>
	</div>
</ion-view>	