/* home */
	.line-height{line-height:1.2;}
	.line-height-add{line-height:1.4;}
	
	/*header*/
		a{text-decoration:none;}
		.text-type{font-family:Roboto;font-style:Regular;font-size:21px;}
		.header{background:#A02329;border:0px;display:flex;align-items:center;}
		.bar-sidemenu{color:#d95458;}
		.bar-button{background:none;border:0px;width:auto;}
		.bar button{font-size:25px;}
		.bar-sidemenu.bar-button.icon-search ,.bar-sidemenu.bar-button.icon-settings{padding:0px;}
		button.light.logo{
			background:none;
			border:0px;
			font-family:"Times New Roman", Georgia, Serif;
			font-size:150%;
		}
		
		.tabs-news > .tabs, .tabs.tabs-positive{  
			background-color: #c0262f;
			color: #fff;
			height:44px;
			padding-top:15px;
			top:43px;
			
		}
		.tab-title.ng-binding{
			font-size:130%;
			display:flex;
			justify-content:center;
			align-items:center;
			
		}
		.tab-item.tab-item-active, .tab-item.activated{
			border-bottom:#fff solid 3px;
		}
		.content{
			background:#ddd;
			padding-top:90px;
		}
	/*conten*/
		/*top news*/
			.no-padding{padding-top:0px;padding-bottom:0px;}
			.img{width:100%;}
			.news{background:#fff;border-radius:3px;border-bottom:#ccc solid 2px;}
			.title-news{color:#000;text-decoration:none;font-family:Roboto;}
			.info{color:#ba4446;font-size:10px;font-family:Roboto;}
			.title-list{
				background:#b0282a;
				justify-content:space-between;
				height:40px;
				margin-bottom:10px;
			}
			.name{font-size:15px;color:#fff;text-decoration:none;}
			.more{font-size:12px;color:#fff;text-decoration:none;}
			
			.scroll-view.scroll-x{
				overflow-x: auto;
				overflow-y:hidden;
			}
		/*briefs*/	
			.responsive-sm .col{margin-bottom:0px;}
			.background{background:#fff;}
			.title-briefs{
				display:block;
				font-size:25px;
				color:#000;
				text-decoration:none;
				font-family:Roboto;
			}
			.briefs{font-family:Roboto Slab;color:#818181;}
			.info-briefs{
				background:#f5f5f5;
				color:#818181;
				justify-content:space-between;
				height:44px;
				margin-bottom:10px;
			}
			.no-padding-top{padding-top:0px;}
		/*setting*/
			.back-button{color:#e3bdbf;width:30px;}
			.back-button-2{color:#e65f63;width:30px;}
			.item{border:0px;}
			.flexx{display:flex;align-items:center;}
			.text-setting{font-family:Roboto; font-size:19px;}
			.title-setting{font-family:Roboto Medium;font-size:14px;color:#a91416;}
			.add{font-family:Roboto;font-size:12px;color:#737578}
			
			.add-1{font-family:Roboto;font-size:14px;color:#737578}
			.flexxx{justify-content:center;}
			/*theme*/
				.popup-container input{width:auto;}
				.popup-head{text-align:left;}
			/*noti*/
				/*.toggle{
					display: flex;
					align-items: center;
				}
				.toggle input:checked + .track{
					border-color: #ba2c2d;
					background-color: #ba2c2d;
					height: 15px;
				}
				.toggle .track{height: 15px;border:none;}
				.toggle .handle{top:8px;left:6px;}
				.toggle input:checked + .track .handle{
					background-color: #ef4235;
				}*/
				/*******/
				.toggle.toggle-assertive{display:flex;align-items:center}
				.toggle.toggle-assertive input:checked + .track {
					height:16px;
					background-color:#ba2c2d;
					border-color:#ba2c2d;
				}
				.toggle.toggle-assertive .track{height:16px;}
				.toggle.toggle-assertive input:checked + .track .handle{background-color:#ef4235}
				/********/
				.toggle.toggle-balanced{display:flex;align-items:center;height:50px;}
				.toggle.toggle-balanced input:checked + .track {
					height:16px;
					background-color:#b2dfdb;
					border-color:#b2dfdb;
				}
				.toggle.toggle-balanced .track{height:16px;}
				.toggle.toggle-balanced input:checked + .track .handle{
					top:11px;background-color:#003958;
				}
				.toggle.toggle-balanced .handle{
					top:11px;
				}
			/*popup*/
				.popup-container .popup{background-color:rgba(255, 255, 255, 1)}
				/***********/
				.right-buttons{margin-right:5px;}
				.list-noti{color:#666;font-family:Roboto;font-size:16px;}
				.list-noti-small{color:#999;font-family:Roboto;font-size:10px;}
				.title-noti{color:#666;font-family:Roboto;font-size:12px;}
				.background-d{background:#dbdcde;padding:15px;align-items:center; }
				.icon{color:rgb(196,196,196);font-size:17px;}
				.list{margin-bottom:0px;}
				.box-shadow{box-shadow:0px 2px 1px 0px rgba(0,0,0,0.2);}
			/*register*/
				.register{padding-left:35px;padding-right:35px;padding-top:40px;}
				.add-0{font-family:Roboto;font-size:10px;color:#737578}
				.link{font-family:Roboto;font-size:10px;display:inline;}
				label.input{
					padding-top:10px;display:flex;align-items:center;justify-content:center;
				}
			/*setting-success*/
			    .edit{display: block;
					height: 33px;
					width: 33px;
					text-align: center;
					background: #0e9c8e;
					color: #fff;
					font-size: 17px;
					border: #fff solid 2px;
					border-radius: 20px;
					padding-top: 5px;
					position: absolute;
					left: 78px;
					top: 78px;
					z-index: 5;
				}
				.logout{
					background:#b0282a;color:#fff;font-family:Roboto;font-style:Regular;font-size:15px;
				}
				.item.item-thumbnail-left{height:120px;padding-left:123px;}
				.item-thumbnail-left > img:first-child{max-width:100px;max-height:100px;}
/*menu*/
	a.item.menu{color:#6c6c5b;}
	a.item.menu:hover, a.item.menu:focus, a.item.menu.activated{background:#b0282a;color:#fff;}
	
	
/*loin*/
	.content-login{background:#eee;}
	.facebook-login{
		background-image:url(../img/button-facebook.png);
		color:#fff;font-family:Helvetica Medium;font-size:15px;
		border-radius:0px;
	}
	.col-10.ion-social-facebook, .col-10.ion-social-googleplus-outline{font-size:30px;}
	.google-login{
		background-image:url(../img/button-google.png);
		color:#fff;font-family:Helvetica Medium;font-size:15px;
		border-radius:0px;
	}
	label.item.item-input.item-floating-label{padding-left:0px;}
	label.item.item-input.item-floating-label > .input-login{
		padding-left:5px;border-bottom:#8d8d8d solid 1px;
	}
	label.item.item-input.item-floating-label > .input-login:focus{
		padding-left:5px;border-bottom:#008c7d solid 2px;
	}
	.login{padding-left:24px;padding-right:24px;}
	.login-email{
		background:#b0282a;color:#fff;font-family:Helvetica Medium;font-size:13px;
	}
	.signup-now{
		background:#b9b9b9;color:#fff;font-family:Helvetica Medium;font-size:14px;
	}
	.text{font-family:Helvetica;font-style:Regular;color:#191919;text-align:justify;}
	/*logout*/
	.popup-buttons .button{font-family:Roboto Medium;color:#029789;}
	.popup-buttons{display:flex;flex-direction: row-reverse;}

/*daily news*/	
	.header-news{
		background:transparent;border:0px;display:flex;align-items:center;
		box-shadow: inset 0px 44px 61px -41px rgba(0,0,0,0.5);
	}
	button.back-button-news.bar-button{color:rgb(224,212,208);width:30px;}
	button.button-icon.bar-button{color:#fff;padding:0px;}
	
	.info-news{font-family:Roboto;color:#818181;}
	.body-news{overflow-y:scroll;}
	.popover{height:auto;}
	.platform-android .popover .item {
		border-color: #fafafa;
		color:#fff;background-color:#a02329;
	}
	.light.icon-bookmarks:before{margin:0px;}




	.bar-header {

	background:url('../img/BNN-Header.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

   height:120px;


  
	}


