<div class="row">
	<div class="col no-padding-top">
		<div class="row news no-padding-top">
			<div class="col">
				<a href="" class="title-news">
					<b>Dawood plotted attackson churches, RSS leadersto cause reilgious</b>
				</a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>
			</div>	
		</div>
	</div>		
</div>
<div class="row">
	<div class="col no-padding">
		<div class="row news">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row news">
			<div class="col">
				<img src="img/news-2.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col no-padding-top">
		<div class="row news no-padding-top">
			<div class="col">
				<a href="" class="title-news">
					<b>Dawood plotted attackson churches, RSS leadersto cause reilgious</b>
				</a>
				<span style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</span>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>
			</div>	
		</div>
	</div>		
</div>