
<div class="row">
	<div class="col no-padding">
		<img src="img/amma.png" class="img">
	</div>
</div>
<div class="row">
	<div class="col no-padding">
		<div class="row news">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row news">
			<div class="col">
				<img src="img/news-2.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col no-padding">
		<a href=""><img src="img/news-3.png" class="img"></a>
	</div>
</div>
<div class="row">
	<div class="col no-padding">
		<a href=""><img src="img/news-4.png" class="img"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row row-center title-list">
			<div>
				<a class="name" href="">ENTERTAINMENT</a>
			</div>
			<div>
				<a href="" class="more">MORE</a>
			</div>
		</div>
		<div class="row news">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row row-center title-list">
			<div>
				<a class="name" href="">TV</a>
			</div>
			<div>
				<a href="" class="more">MORE</a>
			</div>
		</div>
		<div class="row news">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row row-center title-list">
			<div>
				<a class="name" href="">PHOTOS</a>
			</div>
			<div>
				<a menu-close href="#/app/photo" class="more">MORE</a>
			</div>
		</div>
		<ion-scroll class="no-padding" zooming="true" direction="x" style="width:auto; height:191px">
			<div class="row no-padding" style="width:auto; height:191px;">
				<div class="col no-padding">
					<div  style="height:191px;background:#fff;">
						<div>
							<a href="#/app/photo/detail"><img src="img/photo.png" width="151px" height="113px"></a>
						</div>
						<div>
							<a href="#/app/photo/detail" class="title-news"><b>Triumph lingerie fashion show '16</b></a>
						</div>
					</div>
				</div>
				<div class="col no-padding">
					<div  style="height:191px;background:#fff;">
						<div>
							<a href="#/app/detail"><img src="img/photo.png" width="151px" height="113px"></a>
						</div>
						<div>
							<a href="#/app/detail" class="title-news"><b>Triumph lingerie fashion show '16</b></a>
						</div>
					</div>
				</div>
				<div class="col no-padding">
					<div  style="height:191px;background:#fff;">
						<div>
							<a href="#/app/detail"><img src="img/photo.png" width="151px" height="113px"></a>
						</div>
						<div>
							<a href="#/app/detail" class="title-news"><b>Triumph lingerie fashion show '16</b></a>
						</div>
					</div>
				</div>
				
			</div>	
				
		</ion-scroll>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row row-center title-list">
			<div>
				<a class="name" href="">CITY</a>
			</div>
			<div>
				<a href="" class="more">MORE</a>
			</div>
		</div>
		<div class="row news">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row row-center title-list">
			<div>
				<a class="name" href="">SPORTS</a>
			</div>
			<div>
				<a href="" class="more">MORE</a>
			</div>
		</div>
		<div class="row news">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row row-center title-list">
			<div>
				<a class="name" href="">TECH</a>
			</div>
			<div>
				<a href="" class="more">MORE</a>
			</div>
		</div>
		<a href=""><img src="img/news-4.png" class="img"></a>
		<div class="row news" style="margin-bottom:10px;">
			<div class="col">
				<img src="img/news-1.png" class="img">
			</div>
			<div class="col-66">
				<a href="" class="title-news"><b>Dawood plotted attacks<br/>
							on churches, RSS leaders<br/>
							to cause reilgious</b></a>
				<div class="row row-no-padding">
					<div class="col">
						<span class="info">10 minutes ago</span>
					</div>
					<div class="col">
						<span class="info"><i class="icon-talk"></i>120 comments</span>
					</div>
					
				</div>		
			</div>
		</div>
		<div class="col news">
			<a href="" class="title-news">
				<b>Dawood plotted attackson churches, RSS leadersto cause reilgious</b>
			</a>
			<span style="color:#818181;">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</span>
			<div class="row row-no-padding">
				<div class="col">
					<span class="info">10 minutes ago</span>
				</div>
				<div class="col">
					<span class="info"><i class="icon-talk"></i>120 comments</span>
				</div>
				
			</div>
		</div>
		
	</div>
</div>