<ion-view>
	<ion-nav-bar class="header">
		
		<ion-nav-buttons side="left">
			<button class="bar-sidemenu bar-button ion-navicon" menu-toggle="left">
			</button>
			<button style="font-size:20px;" class="bar-button light"><span class="text-title">Videos</span></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="bar-sidemenu bar-button icon-search">
			</button>
			<a href="#/app/settings"><button class="bar-sidemenu bar-button icon-settings">
			</button></a>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="content-photo">
		<div class="row">
			<div class="col no-padding">
				<a href=""><img src="img/news-3.png" class="img"></a>
			</div>
		</div>
		<div class="row">
			<div class="col no-padding">
				<a href=""><img src="img/news-3.png" class="img"></a>
			</div>
		</div>
		<div class="row">
			<div class="col no-padding">
				<a href=""><img src="img/news-3.png" class="img"></a>
			</div>
		</div>
		<div class="row">
			<div class="col no-padding">
				<a href=""><img src="img/news-3.png" class="img"></a>
			</div>
		</div>
		<div class="row">
			<div class="col no-padding">
				<a href=""><img src="img/news-3.png" class="img"></a>
			</div>
		</div>
	</ion-content>
</ion-view>	